html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

a { text-decoration: none; }
a:hover { text-decoration: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { min-width: 1080px; font-size: 16px; font-family: "Tinos", serif; line-height: 1.4; }

.wrap { width: 1080px; margin: 0 auto; }

.wrapper { *zoom: 1; }
.wrapper:after { content: " "; display: table; clear: both; }

.header { padding-top: 35px; }

.logo { margin-bottom: 50px; text-align: center; }
.logo a { display: block; font-size: 0; }

.logo_small { position: absolute; top: 19px; left: 42px; margin-bottom: 0; z-index: 2; }

.logo_footer { float: left; margin-right: 21px; }

.topper { position: relative; height: 87px; padding-top: 48px; }

.nav { position: relative; text-align: center; height: 68px; margin-bottom: 28px; }

.menu { position: relative; display: inline-block; *zoom: 1; }
.menu:after { content: " "; display: table; clear: both; }

.menu__item { position: relative; float: left; margin: 0 38px; }

.menu-link { position: relative; font-weight: bold; color: black; text-transform: uppercase; }
.menu-link:before { content: ""; position: absolute; top: -5px; left: -150%; height: 2px; width: 100%; background: #e1c88c; -webkit-transition: 400ms all; -moz-transition: 400ms all; -o-transition: 400ms all; transition: 400ms all; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.menu-link:after { content: ""; position: absolute; bottom: -5px; left: 150%; height: 2px; width: 100%; background: #e1c88c; -webkit-transition: 400ms all; -moz-transition: 400ms all; -o-transition: 400ms all; transition: 400ms all; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.menu-link:hover:before { left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.menu-link:hover:after { left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.menu-link.is-active:before { left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.menu-link.is-active:after { left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.sub-menu { position: absolute; left: 0; width: 749px; margin-left: -344px; padding-top: 18px; text-align: center; -webkit-transition: 400ms all; -moz-transition: 400ms all; -o-transition: 400ms all; transition: 400ms all; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; visibility: hidden; *zoom: 1; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.sub-menu:after { content: " "; display: table; clear: both; }
.sub-menu li { display: inline-block; height: 22px; margin: 0 32px; }
.sub-menu li a { text-transform: none; font-weight: normal; color: black; }

.sub-menu.is-active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; visibility: visible; }

.a-link { position: relative; }
.a-link:before { content: ""; position: absolute; top: 6px; left: -15px; height: 5px; width: 5px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #e1c88c; -webkit-transition: 400ms all; -moz-transition: 400ms all; -o-transition: 400ms all; transition: 400ms all; }
.a-link:hover:before { left: -29px; width: 19px; }

.search { position: absolute; top: 0; right: 0; width: 92px; height: 24px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: left; border: 1px solid #e0c78b; background: #e0c78b; }
.search:after { content: ""; position: absolute; top: 4px; right: 4px; background: url('../img/icons-sd797da7871.png') 0 -45px no-repeat; width: 15px; height: 15px; }
.search input { width: 67px; height: 22px; padding: 0 9px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: inset 0 0 1px #f3e8d0; -moz-box-shadow: inset 0 0 1px #f3e8d0; box-shadow: inset 0 0 1px #f3e8d0; }

.h2 { text-align: center; font-weight: bold; font-size: 42px; }

.h3 { font-weight: bold; font-size: 35px; color: black; }
.h3 a { font-weight: bold; font-size: 35px; color: black; }

.h5 { font-weight: bold; font-size: 16px; color: black; }

.h_lines { border-top: 2px solid #e1c88c; border-bottom: 2px solid #e1c88c; text-transform: uppercase; }

.justify { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.justify:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }

.justify__child { text-align: center; display: inline-block; line-height: normal; vertical-align: top; }

.widget { margin-bottom: 30px; }

.footer__main { height: 41px; padding-top: 5px; background: #e1c88c; }

.copyrights { float: left; color: white; line-height: 37px; font-size: 13px; }
.copyrights span:first-child { text-transform: uppercase; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header-slider { position: relative; }

.header-slider__item { position: relative; width: 100%; height: 577px; overflow: hidden; }
.header-slider__item img { width: 100%; min-height: 577px; height: auto; }

.header-slider__title { position: absolute; bottom: 25px; left: 8%; color: white; font-weight: bold; text-transform: uppercase; }

.header-slider__date { position: relative; display: inline-block; font-size: 284px; line-height: 235px; }
.header-slider__date span { position: absolute; top: 18px; right: -270px; width: 240px; font-size: 84px; line-height: 67px; }

.header-slider__name { font-size: 60px; line-height: 60px; }

.example-pager { position: absolute; top: 100px; right: 200px; z-index: 999; font-size: 0; }
.example-pager span { display: inline-block; vertical-align: top; width: 21px; height: 21px; margin: 0 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: rgba(255, 255, 255, 0.6); cursor: pointer; }
.example-pager span.cycle-pager-active { background: #e0c78b; border: 1px solid #e6d1a1; }

.post { width: 346px; margin-bottom: 75px; border: 1px solid white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.post:hover { border: 1px solid #d8d8d8; }

.post__img { display: block; font-size: 0; }

.post__content { padding: 20px 24px; }

.post__info { *zoom: 1; font-weight: bold; font-style: italic; }
.post__info:after { content: " "; display: table; clear: both; }

.post__type { float: left; font-size: 21px; color: #e1c88c; }

.post__date { float: right; font-size: 17px; color: #b2b2b2; }

.post__sub-title { font-weight: bold; font-size: 23px; color: black; line-height: 1; }

.add-post { position: relative; display: block; width: 346px; height: 566px; border: 2px solid #e1c78b; }
.add-post:hover { border: 2px solid #e1c78b; }

.add-post__arrow { position: absolute; top: 103px; left: 50%; margin-left: -76px; width: 142px; height: 142px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; border: 5px solid #e0c78b; }
.add-post__arrow:after { content: ""; position: absolute; top: 56px; left: 40px; background: url('../img/icons-sd797da7871.png') 0 0 no-repeat; width: 60px; height: 35px; }

.add-post__text { position: absolute; bottom: 90px; left: 50%; width: 250px; margin-left: -125px; font-size: 63px; font-weight: bold; color: #e1c88c; text-align: center; }

.rubric-wpapper { margin-bottom: 90px; }

.rubric-list { padding: 26px 24px; }

.rubric { width: 207px; font-size: 21px; }
.rubric img { width: 100%; margin-bottom: 18px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid rgba(153, 122, 72, 0.1); }
.rubric a { color: black; }
.rubric a:hover { font-weight: bold; }

.sidebar { float: right; width: 345px; margin-left: 23px; border: 1px solid white; }
.sidebar img { width: 345px; height: auto; }

.bot-menu { margin-bottom: 120px; }

.bot-menu__item { text-align: left; width: 207px; }
.bot-menu__item .h5 { display: inline-block; padding: 2px 9px; margin-bottom: 19px; }

.bot-menu-list { padding-left: 15px; }
.bot-menu-list li { margin-bottom: 5px; }
.bot-menu-list a { color: black; font-size: 16px; }
