html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; vertical-align: baseline; }

body, html { height: 100%; }

img, fieldset, a img { border: none; }

input[type="submit"], button { cursor: pointer; }
input[type="submit"]::-moz-focus-inner, button::-moz-focus-inner { padding: 0; border: 0; }

textarea { overflow: auto; }

input, button { margin: 0; padding: 0; border: 0; }

input, textarea, select, button, h1, h2, h3, h4, h5, h6, a, span, a:focus { outline: none; }

ul, ol { list-style-type: none; }

a { text-decoration: none; }
a:hover { text-decoration: none; }

@media only screen and (min-device-width: 320px) and (max-device-width: 480px) { * { -webkit-text-size-adjust: none; } }
table { border-spacing: 0; border-collapse: collapse; width: 100%; }

body { font-size: 16px; font-family: "Tinos", serif; line-height: 1.4; }

.wrap { max-width: 1080px; margin: 0 auto; }

.wrapper { *zoom: 1; }
.wrapper:after { content: " "; display: table; clear: both; }

.container { overflow: hidden; }

.header { padding-top: 35px; }
@media only screen and (max-width: 800px) { .header { padding-top: 10px; } }

.header_mod { padding-top: 0; }

.logo { margin-bottom: 50px; text-align: center; }
@media only screen and (max-width: 800px) { .logo { margin-bottom: 10px; } }
.logo a { display: block; font-size: 0; }
@media only screen and (max-width: 600px) { .logo a { padding: 0 10px; }
  .logo a img { width: 100%; } }

.logo_small { position: absolute; top: 19px; left: 42px; margin-bottom: 0; z-index: 2; }

.logo_footer { float: left; margin-right: 21px; }

.topper-wrap .nav { margin-bottom: 0; height: auto; }
.topper-wrap .nav.is-open { padding-top: 60px; padding-bottom: 10px; }
@media only screen and (max-width: 800px) { .topper-wrap .menu { display: none; } }
.topper-wrap .menu.is-active { display: inline-block; }
@media only screen and (max-width: 800px) { .topper-wrap .logo_small { left: 50%; margin-left: -37px; } }
@media only screen and (max-width: 480px) { .topper-wrap .logo_small { -webkit-transition: all 400ms; -moz-transition: all 400ms; -o-transition: all 400ms; transition: all 400ms; } }
@media only screen and (max-width: 480px) { .topper-wrap .logo_small.is-hidden { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; } }

.topper { position: relative; min-height: 87px; padding-top: 48px; background: white; }

.topper.fixed { position: fixed; top: 0; left: 0; right: 0; z-index: 9999; -webkit-box-shadow: 0 -5px 15px 13px white; -moz-box-shadow: 0 -5px 15px 13px white; box-shadow: 0 -5px 15px 13px white; }

.nav { position: relative; text-align: center; height: 68px; margin-bottom: 28px; }

.drop-menu { display: none; position: absolute; top: -28px; left: 15px; width: 75px; height: 75px; cursor: pointer; z-index: 9999; }
@media only screen and (max-width: 800px) { .drop-menu { display: block; } }
.drop-menu i { position: absolute; top: 21px; left: 0px; background: url('../img/icons-sfcb65d692a.png') 0 -1310px no-repeat; width: 32px; height: 32px; }

@media only screen and (max-width: 800px) { .nav-top { display: none; } }

.menu { position: relative; display: inline-block; *zoom: 1; }
.menu:after { content: " "; display: table; clear: both; }

.menu__item { position: relative; float: left; margin: 0 38px; -webkit-transition: all 400ms; -moz-transition: all 400ms; -o-transition: all 400ms; transition: all 400ms; }
@media only screen and (max-width: 1080px) { .menu__item { margin: 0 30px; } }
@media only screen and (max-width: 1024px) { .menu__item { margin: 0 22px; } }
@media only screen and (max-width: 900px) { .menu__item { margin: 0 18px; } }
@media only screen and (max-width: 800px) { .menu__item { float: none; margin: 0 18px 5px; } }

.menu__item.narrow { margin: 0 23px; }
@media only screen and (max-width: 1080px) { .menu__item.narrow { margin: 0 20px; } }
@media only screen and (max-width: 1024px) { .menu__item.narrow { margin: 0 17px; } }
@media only screen and (max-width: 900px) { .menu__item.narrow { margin: 0 15px; } }
@media only screen and (max-width: 800px) { .menu__item.narrow { margin: 0 15px 5px; } }

.menu-link { position: relative; font-weight: bold; color: black; text-transform: uppercase; }
@media only screen and (max-width: 900px) { .menu-link { font-size: 13px; } }
@media only screen and (max-width: 800px) { .menu-link { font-size: 16px; } }
.menu-link:before { content: ""; position: absolute; top: -5px; left: -150%; height: 2px; width: 100%; background: #e1c88c; -webkit-transition: 400ms all; -moz-transition: 400ms all; -o-transition: 400ms all; transition: 400ms all; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.menu-link:after { content: ""; position: absolute; bottom: -5px; left: 150%; height: 2px; width: 100%; background: #e1c88c; -webkit-transition: 400ms all; -moz-transition: 400ms all; -o-transition: 400ms all; transition: 400ms all; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.menu-link:hover:before { left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.menu-link:hover:after { left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.menu-link.is-active:before { left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.menu-link.is-active:after { left: 0; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }

.sub-menu { position: absolute; left: 0; width: 749px; margin-left: -344px; padding-top: 18px; text-align: center; -webkit-transition: 400ms all; -moz-transition: 400ms all; -o-transition: 400ms all; transition: 400ms all; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; visibility: hidden; *zoom: 1; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); }
.sub-menu:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 800px) { .sub-menu { display: none; position: relative; left: auto; width: auto; margin-left: 0; padding-top: 0; } }
.sub-menu li { display: inline-block; height: 22px; margin: 0 32px; }
@media only screen and (max-width: 1024px) { .sub-menu li { margin: 0 28px; } }
@media only screen and (max-width: 900px) { .sub-menu li { margin: 0 20px; } }
.sub-menu li a { text-transform: none; font-weight: normal; color: black; }

.sub-menu.is-active { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; visibility: visible; display: block; padding-top: 15px; }

.sidebar-btn { display: none; position: absolute; top: 42px; right: 42px; width: 32px; height: 32px; cursor: pointer; }
@media only screen and (max-width: 1024px) { .sidebar-btn { display: block; } }
.sidebar-btn i { display: block; background: url('../img/icons-sfcb65d692a.png') 0 -1486px no-repeat; width: 32px; height: 32px; }

.a-link { position: relative; }
.a-link:before { content: ""; position: absolute; top: 6px; left: -15px; height: 5px; width: 5px; -webkit-border-radius: 2px; -moz-border-radius: 2px; -ms-border-radius: 2px; -o-border-radius: 2px; border-radius: 2px; background: #e1c88c; -webkit-transition: 400ms all; -moz-transition: 400ms all; -o-transition: 400ms all; transition: 400ms all; }
.a-link:hover:before { left: -29px; width: 19px; }

.search { position: absolute; top: 0; right: 15px; height: 24px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; text-align: left; }
.search button[type="submit"] { position: absolute; top: 0px; right: 0px; height: 22px; width: 22px; background: #e0c78b; }
.search i { position: relative; top: 2px; left: 0px; display: inline-block; background: url('../img/icons-sfcb65d692a.png') 0 -1202px no-repeat; width: 15px; height: 15px; }
.search input { width: 89px; height: 22px; padding: 0 9px; border: 1px solid #e1c88c; -webkit-transition: all 400ms; -moz-transition: all 400ms; -o-transition: all 400ms; transition: all 400ms; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-box-shadow: inset 0 0 1px #f3e8d0; -moz-box-shadow: inset 0 0 1px #f3e8d0; box-shadow: inset 0 0 1px #f3e8d0; }
.search input:-ms-input-placeholder { color: white; }
.search input:-moz-placeholder { color: white; }
.search input::-moz-placeholder { color: white; }
.search input::-webkit-input-placeholder { color: white; }
.search input::placeholder { color: white; }
.search input:focus { width: 240px; border: 1px solid white; border-bottom: 2px solid #e1c88c; }
.search input:focus:-ms-input-placeholder { color: #b4b4b4; }
.search input:focus:-moz-placeholder { color: #b4b4b4; }
.search input:focus::-moz-placeholder { color: #b4b4b4; }
.search input:focus::-webkit-input-placeholder { color: #b4b4b4; }
.search input:focus::placeholder { color: #b4b4b4; }
.search input:focus + span { display: none; }
@media only screen and (max-width: 1080px) { .search input:focus { width: 200px; } }
@media only screen and (max-width: 1024px) { .search input:focus { width: 180px; } }
@media only screen and (max-width: 900px) { .search input:focus { width: 160px; } }

.search.is-active span { display: none; }

.search__dropdown { padding: 12px 7px; position: absolute; top: 21px; left: 0; width: 250px; height: 150px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid #ebdcb6; overflow: auto; z-index: 999; background: white; }

.search__item { *zoom: 1; margin-bottom: 10px; }
.search__item:after { content: " "; display: table; clear: both; }

.search__dropdown-left { float: left; }
.search__dropdown-left a { color: #999999; font-size: 16px; }
.search__dropdown-left a:hover { color: black; }

.search__dropdown-right { float: right; }
.search__dropdown-right a { color: #999999; font-size: 12px; }
.search__dropdown-right a:hover { color: black; }

.h1 { position: relative; font-weight: bold; font-size: 60px; z-index: 2; }

.h2 { text-align: center; font-weight: bold; font-size: 42px; }

.h3 { font-weight: bold; font-size: 35px; color: black; }
.h3 a { font-weight: bold; font-size: 35px; color: black; }

.h4 { font-weight: bold; font-size: 26px; color: black; }

.h5 { font-weight: bold; font-size: 16px; color: black; }
.h5 a { color: black; }

.h_lines { border-top: 2px solid #e1c88c; border-bottom: 2px solid #e1c88c; text-transform: uppercase; }

.justify { text-align: justify; line-height: 0; font-size: 1px; text-justify: newspaper; zoom: 1; text-align-last: justify; }
.justify:after { content: ""; display: inline-block; width: 100%; height: 0px; visibility: hidden; overflow: hidden; }

.justify__child { text-align: center; display: inline-block; line-height: normal; vertical-align: top; }

.widget { position: relative; margin-bottom: 30px; text-align: center; }

.widget__title { position: absolute; top: 0px; left: 0; right: 0; text-align: center; z-index: 2; }
.widget__title .h4 { width: 70%; display: inline-block; background: white; line-height: 1; padding: 10px 20px; }

.widget__inner { position: relative; padding-top: 40px; }

.footer__main { overflow: hidden; height: 41px; padding: 5px 5px 0; background: #e1c88c; }
@media only screen and (max-width: 600px) { .footer__main { height: auto; padding: 5px; } }
@media only screen and (max-width: 600px) { .footer__main .wrap { text-align: center; } }

.copyrights { float: left; color: white; line-height: 37px; font-size: 13px; }
@media only screen and (max-width: 600px) { .copyrights { float: none; } }
.copyrights span:first-child { text-transform: uppercase; }

.footer__bot { height: 56px; line-height: 56px; text-align: center; }

.pugupugu { position: relative; display: inline-block; color: black; font-size: 16px; }
.pugupugu:before { content: ""; position: absolute; top: 14px; left: -50px; background: url('../img/icons-sfcb65d692a.png') 0 -167px no-repeat; width: 31px; height: 32px; }

.sticky-footer .out { min-height: 100%; height: auto !important; height: 100%; margin-bottom: -46px; }
.sticky-footer .footer { position: relative; height: 46px; z-index: 10; }
.sticky-footer .push { height: 106px; }

.socials { float: right; font-size: 0; }
@media only screen and (max-width: 600px) { .socials { clear: both; float: none; display: inline-block; } }
.socials li { display: inline-block; margin-left: 10px; }
.socials i { display: block; }

.fb { background: url('../img/icons-sfcb65d692a.png') 0 -1160px no-repeat; width: 32px; height: 32px; }
.fb:hover { background: url('../img/icons-sfcb65d692a.png') 0 -1268px no-repeat; width: 34px; height: 32px; }

.fb-gold { background: url('../img/icons-sfcb65d692a.png') 0 -679px no-repeat; width: 30px; height: 30px; }

.tw { background: url('../img/icons-sfcb65d692a.png') 0 -1227px no-repeat; width: 31px; height: 31px; }
.tw:hover { background: url('../img/icons-sfcb65d692a.png') 0 -761px no-repeat; width: 31px; height: 31px; }

.tw-gold { background: url('../img/icons-sfcb65d692a.png') 0 -209px no-repeat; width: 30px; height: 30px; }

.vk { background: url('../img/icons-sfcb65d692a.png') 0 -842px no-repeat; width: 31px; height: 31px; }
.vk:hover { background: url('../img/icons-sfcb65d692a.png') 0 -290px no-repeat; width: 31px; height: 31px; }

.vk-gold { background: url('../img/icons-sfcb65d692a.png') 0 -331px no-repeat; width: 30px; height: 30px; }

.pinterest { background: url('../img/icons-sfcb65d692a.png') 0 -1119px no-repeat; width: 31px; height: 31px; }
.pinterest:hover { background: url('../img/icons-sfcb65d692a.png') 0 -451px no-repeat; width: 31px; height: 31px; }

.pinterest-gold { background: url('../img/icons-sfcb65d692a.png') 0 -411px no-repeat; width: 30px; height: 30px; }

.instagram { background: url('../img/icons-sfcb65d692a.png') 0 -1078px no-repeat; width: 31px; height: 31px; }
.instagram:hover { background: url('../img/icons-sfcb65d692a.png') 0 -126px no-repeat; width: 31px; height: 31px; }

.instagram-gold { background: url('../img/icons-sfcb65d692a.png') 0 -371px no-repeat; width: 30px; height: 30px; }

.yt { background: url('../img/icons-sfcb65d692a.png') 0 -249px no-repeat; width: 31px; height: 31px; }
.yt:hover { background: url('../img/icons-sfcb65d692a.png') 0 -85px no-repeat; width: 31px; height: 31px; }

.yt-gold { background: url('../img/icons-sfcb65d692a.png') 0 -45px no-repeat; width: 30px; height: 30px; }

.divide { position: relative; width: 21px; height: 12px; margin: 0 auto; }
.divide i { display: block; margin: 0 auto; width: 6px; height: 6px; background: white; -moz-transform: rotate(-45deg); -o-transform: rotate(-45deg); -webkit-transform: rotate(-45deg); -ms-transform: rotate(-45deg); transform: rotate(-45deg); filter: progid:DXImageTransform.Microsoft.Matrix(M11=$m11, M12=$m12,M21=$m21, M22=$m22, sizingMethod='auto expand'); zoom: 1; }
.divide:before { content: ""; position: absolute; left: 100%; top: 2px; height: 1px; width: 3000px; background: white; }
.divide:after { content: ""; position: absolute; right: 100%; top: 2px; height: 1px; width: 3000px; background: white; }

.divide_gold i { width: 8px; height: 8px; background: #e1c88c; }
.divide_gold:before { height: 2px; background: #e1c88c; }
.divide_gold:after { height: 2px; background: #e1c88c; }

.inner-menu { margin: 28px 0 31px; text-align: center; }

.inner-menu__item { display: inline-block; margin: 0 38px; }
.inner-menu__item .h5 { padding: 0 5px; }

.scroll-pane { outline: none; }

.l { width: 100%; display: inline-block; }
.l .l-col1 { float: left; width: 20%; }
.l .l-col2 { float: right; width: 70%; }

.header-slider { position: relative; }

.header-slider__item { position: relative; width: 100%; height: 577px; overflow: hidden; }
@media only screen and (max-width: 1080px) { .header-slider__item { height: 477px; } }
@media only screen and (max-width: 900px) { .header-slider__item { height: 377px; } }
@media only screen and (max-width: 480px) { .header-slider__item { height: 277px; } }
.header-slider__item img { width: 100%; min-height: 577px; height: auto; }
@media only screen and (max-width: 1080px) { .header-slider__item img { min-height: 477px; } }
@media only screen and (max-width: 900px) { .header-slider__item img { min-height: 377px; } }
@media only screen and (max-width: 480px) { .header-slider__item img { min-height: 277px; } }

.header-slider__title { position: absolute; bottom: 25px; left: 8%; color: white; font-weight: bold; text-transform: uppercase; }

.header-slider__date { position: relative; display: inline-block; font-size: 284px; line-height: 235px; }
@media only screen and (max-width: 1080px) { .header-slider__date { font-size: 224px; line-height: 190px; } }
@media only screen and (max-width: 900px) { .header-slider__date { font-size: 160px; line-height: 160px; } }
@media only screen and (max-width: 480px) { .header-slider__date { font-size: 100px; line-height: 100px; } }
.header-slider__date span { position: absolute; top: 18px; right: -270px; width: 240px; font-size: 84px; line-height: 67px; }
@media only screen and (max-width: 1080px) { .header-slider__date span { font-size: 58px; line-height: 55px; } }
@media only screen and (max-width: 900px) { .header-slider__date span { right: -150px; width: 130px; font-size: 41px; line-height: 41px; } }
@media only screen and (max-width: 480px) { .header-slider__date span { right: -78px; width: 65px; font-size: 22px; line-height: 22px; } }

.header-slider__name { font-size: 60px; line-height: 60px; }
@media only screen and (max-width: 1080px) { .header-slider__name { font-size: 50px; line-height: 50px; } }
@media only screen and (max-width: 900px) { .header-slider__name { font-size: 40px; line-height: 40px; } }
@media only screen and (max-width: 480px) { .header-slider__name { font-size: 20px; line-height: 20px; } }

.example-pager { position: absolute; top: 100px; right: 200px; z-index: 999; font-size: 0; }
@media only screen and (max-width: 1080px) { .example-pager { right: 100px; } }
@media only screen and (max-width: 768px) { .example-pager { top: 50px; right: 50px; } }
@media only screen and (max-width: 480px) { .example-pager { right: 30px; } }
.example-pager span { display: inline-block; vertical-align: top; width: 21px; height: 21px; margin: 0 5px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: rgba(255, 255, 255, 0.6); cursor: pointer; }
.example-pager span.cycle-pager-active { background: #e0c78b; border: 1px solid #e6d1a1; }

.post { width: 33.333%; margin-bottom: 75px; padding: 0 0.938em; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
@media only screen and (max-width: 800px) { .post { width: 50%; } }
@media only screen and (max-width: 480px) { .post { padding: 0 0.469em; } }
@media only screen and (max-width: 360px) { .post { width: 100%; } }

.post__inner { border: 1px solid white; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }
.post__inner:hover { border: 1px solid #d8d8d8; }

.post__img { display: block; font-size: 0; }
.post__img img { width: 100%; height: auto; }

.post__content { padding: 20px 5px; }

.post__info { *zoom: 1; font-weight: bold; font-style: italic; }
.post__info:after { content: " "; display: table; clear: both; }

.post__type { float: left; font-size: 21px; color: #e1c88c; }

.post__date { float: right; font-size: 17px; color: #b2b2b2; }

@media only screen and (max-width: 800px) { .post__title .h3 { line-height: 1; } }
@media only screen and (max-width: 600px) { .post__title .h3 a { font-size: 30px; } }

.post__sub-title { font-weight: bold; font-size: 23px; color: black; line-height: 1; }
@media only screen and (max-width: 600px) { .post__sub-title { font-size: 18px; } }

.add-post { position: relative; display: block; }

.add-post__inner { height: 566px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 2px solid #e1c78b; }
@media only screen and (max-width: 800px) { .add-post__inner { height: 467px; } }
@media only screen and (max-width: 480px) { .add-post__inner { height: 385px; } }
.add-post__inner:hover { border: 2px solid #e1c78b; }

.add-post__arrow { position: absolute; top: 65px; left: 50%; margin-left: -76px; width: 142px; height: 142px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; border: 5px solid #e0c78b; }
.add-post__arrow:after { content: ""; position: absolute; top: 56px; left: 40px; background: url('../img/icons-sfcb65d692a.png') 0 0 no-repeat; width: 60px; height: 35px; }
@media only screen and (max-width: 480px) { .add-post__arrow { width: 112px; height: 112px; margin-left: -61px; }
  .add-post__arrow:after { top: 42px; left: 26px; } }

.add-post__text { position: absolute; bottom: 40px; left: 50%; width: 250px; margin-left: -125px; font-size: 63px; font-weight: bold; color: #e1c88c; text-align: center; }
@media only screen and (max-width: 480px) { .add-post__text { font-size: 47px; } }

.rubric-wpapper { margin-bottom: 90px; }
@media only screen and (max-width: 768px) { .rubric-wpapper { margin-bottom: 50px; } }
@media only screen and (max-width: 600px) { .rubric-wpapper { margin-bottom: 30px; } }

.rubric-list { padding: 26px 24px; }

.rubric { width: 207px; font-size: 21px; }
@media only screen and (max-width: 900px) { .rubric { width: 170px; } }
@media only screen and (max-width: 768px) { .rubric { width: 45%; } }
@media only screen and (max-width: 360px) { .rubric { width: 48%; } }
.rubric img { width: 100%; height: auto; margin-bottom: 18px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 1px solid rgba(153, 122, 72, 0.1); }
.rubric a { color: black; }
.rubric a:hover { font-weight: bold; }

.sidebar { float: right; width: 32%; background: white; }
@media only screen and (max-width: 1024px) { .sidebar { position: relative; right: -500px; -webkit-transition: all 400ms; -moz-transition: all 400ms; -o-transition: all 400ms; transition: all 400ms; } }
@media only screen and (max-width: 800px) { .sidebar { width: 50%; } }
@media only screen and (max-width: 360px) { .sidebar { width: 100%; } }
.sidebar img { width: 100%; height: auto; }

.sidebar.is-open { right: 0; }

.bot-menu { margin-bottom: 120px; }
@media only screen and (max-width: 768px) { .bot-menu { margin-bottom: 90px; } }
@media only screen and (max-width: 600px) { .bot-menu { margin-bottom: 60px; } }
@media only screen and (max-width: 480px) { .bot-menu { margin-bottom: 30px; } }

.bot-menu__item { text-align: left; width: 207px; }
@media only screen and (max-width: 1080px) { .bot-menu__item { -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 5%; width: 19%; } }
@media only screen and (max-width: 900px) { .bot-menu__item { padding-left: 3%; } }
@media only screen and (max-width: 768px) { .bot-menu__item { padding-left: 1%; margin-bottom: 15px; } }
@media only screen and (max-width: 600px) { .bot-menu__item { width: 49%; padding-left: 8%; } }
@media only screen and (max-width: 480px) { .bot-menu__item { padding-left: 3%; } }
@media only screen and (max-width: 360px) { .bot-menu__item { padding-left: 1%; } }
.bot-menu__item .h5 { display: inline-block; padding: 2px 9px; margin-bottom: 19px; }

.bot-menu-list { padding-left: 15px; }
.bot-menu-list li { margin-bottom: 5px; }
.bot-menu-list a { color: black; font-size: 16px; }

.weather-look__img { font-size: 0; display: block; }

.weather-look__date { position: absolute; bottom: 71px; left: 0; padding: 18px 15px; background: white; color: black; font-weight: bold; font-size: 35px; -webkit-transition: background 300ms; -moz-transition: background 300ms; -o-transition: background 300ms; transition: background 300ms; }
@media only screen and (max-width: 600px) { .weather-look__date { font-size: 25px; } }
@media only screen and (max-width: 480px) { .weather-look__date { font-size: 35px; } }
.weather-look__date:hover { background: #e1c88c; }

.popular-list { padding-top: 32px; }

.popular__item { *zoom: 1; }
.popular__item:after { content: " "; display: table; clear: both; }
@media only screen and (max-width: 900px) { .popular__item { margin-bottom: 15px; } }

.popular__left { float: left; max-width: 112px; }
@media only screen and (max-width: 768px) { .popular__left { float: none; display: inline-block; } }

.popular__img img { width: 100%; height: auto; }

.popular__right { float: right; width: 58%; padding-top: 18px; text-align: left; }
@media only screen and (max-width: 900px) { .popular__right { float: none; width: 100%; padding-top: 0; text-align: center; } }

.popular__type { margin-bottom: 5px; color: #c5c5c5; }

.popular__link { color: black; font-size: 24px; line-height: 1; }
.popular__link:hover { font-weight: bold; }

.horoscope__inner { *zoom: 1; margin-top: 15px; }
.horoscope__inner:after { content: " "; display: table; clear: both; }

.horoscope__col { float: left; width: 50%; *zoom: 1; }
.horoscope__col:after { content: " "; display: table; clear: both; }

.horoscope__img { float: left; }
@media only screen and (max-width: 900px) { .horoscope__img { float: none; } }
@media only screen and (max-width: 800px) { .horoscope__img { float: left; } }
@media only screen and (max-width: 600px) { .horoscope__img { float: none; } }
@media only screen and (max-width: 480px) { .horoscope__img { float: left; } }
.horoscope__img img { width: auto; }

.horoscope__info { font-size: 10px; padding-top: 12px; }
@media only screen and (max-width: 900px) { .horoscope__info { padding-top: 0; } }

.horoscope__title { font-size: 18px; }

.horoscope__recommend { padding-left: 15px; border-left: 2px solid #e1c88c; font-size: 25px; line-height: 1; text-align: left; }
@media only screen and (max-width: 900px) { .horoscope__recommend { font-size: 18px; } }

.hit__img { display: block; font-size: 0; }

.hit__link { position: absolute; bottom: 70px; left: 0; padding: 0 13px 0 32px; font-size: 30px; text-align: left; -webkit-transition: background 300ms; -moz-transition: background 300ms; -o-transition: background 300ms; transition: background 300ms; background: white; color: black; }
.hit__link .hit__name { position: absolute; top: 42px; left: 0; font-size: 22px; padding: 0 13px 0 32px; background: white; -webkit-transition: background 300ms; -moz-transition: background 300ms; -o-transition: background 300ms; transition: background 300ms; }
.hit__link:hover { background: #e1c88c; }
.hit__link:hover span { background: #e1c88c; }

.recommend-list { padding-top: 55px; }

.recommend__item { *zoom: 1; font-size: 0; text-align: left; margin-bottom: 20px; }
.recommend__item:after { content: " "; display: table; clear: both; }

.recommend__img { display: inline-block; margin-right: 33px; vertical-align: middle; }
.recommend__img img { width: auto; }

.recommend__name { display: inline-block; vertical-align: middle; font-size: 21px; text-transform: uppercase; color: black; }
.recommend__name:hover { font-weight: bold; }

.calendar__inner { position: relative; border: 2px solid #e1c88c; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.calendar__img { font-size: 0; display: block; }
.calendar__img img { width: 100%; height: auto; }

.event-content { position: relative; }

.event-link { position: absolute; top: 0; bottom: 0; right: 0; width: 121px; padding: 52px 34px 26px 17px; background: #e1c88c; font-size: 23px; font-weight: bold; color: black; text-align: left; }
.event-link span { position: absolute; bottom: 26px; left: 17px; font-size: 16px; font-weight: normal; }

.calendar-tabs { padding: 12px 0; *zoom: 1; }
.calendar-tabs:after { content: " "; display: table; clear: both; }
.calendar-tabs li { float: left; width: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border-left: 2px solid #e1c88c; }
.calendar-tabs li:first-child { border-left: none; }
.calendar-tabs li i { display: inline-block; cursor: pointer; }
.calendar-tabs li.is-active .ico-event { background: url('../img/icons-sfcb65d692a.png') 0 -638px no-repeat; width: 28px; height: 31px; }
.calendar-tabs li.is-active .ico-calendar { background: url('../img/icons-sfcb65d692a.png') 0 -719px no-repeat; width: 29px; height: 32px; }

.ico-event { background: url('../img/icons-sfcb65d692a.png') 0 -802px no-repeat; width: 27px; height: 30px; }

.ico-calendar { background: url('../img/icons-sfcb65d692a.png') 0 -595px no-repeat; width: 30px; height: 33px; }

.subscribe { border: 2px solid #e1c88c; text-align: center; padding: 17px; }

.subscribe__title { font-size: 26px; font-weight: bold; }

.subscribe__text { display: inline-block; font-size: 13px; width: 50%; line-height: 1; margin-bottom: 20px; }

.subscribe__input { position: relative; }
.subscribe__input input[type="text"] { width: 160px; text-align: center; border-bottom: 2px solid #e1c88c; }
.subscribe__input input[type="text"]:-ms-input-placeholder { font-style: italic; color: #a6a6a6; }
.subscribe__input input[type="text"]:-moz-placeholder { font-style: italic; color: #a6a6a6; }
.subscribe__input input[type="text"]::-moz-placeholder { font-style: italic; color: #a6a6a6; }
.subscribe__input input[type="text"]::-webkit-input-placeholder { font-style: italic; color: #a6a6a6; }
.subscribe__input input[type="text"]::placeholder { font-style: italic; color: #a6a6a6; }
.subscribe__input input[type="text"]:focus:-ms-input-placeholder { font-size: 0; }
.subscribe__input input[type="text"]:focus:-moz-placeholder { font-size: 0; }
.subscribe__input input[type="text"]:focus::-moz-placeholder { font-size: 0; }
.subscribe__input input[type="text"]:focus::-webkit-input-placeholder { font-size: 0; }
.subscribe__input input[type="text"]:focus::placeholder { font-size: 0; }
.subscribe__input input[type="text"]:focus + .subscribe__submit { display: inline-block; }

.subscribe__submit { display: none; position: absolute; right: 5px; top: -3px; font-size: 0; background: url('../img/icons-sfcb65d692a.png') 0 -1044px no-repeat; width: 36px; height: 24px; cursor: pointer; }

.month { margin: 50px 0 45px; position: relative; text-align: center; font-size: 26px; font-weight: bold; }

.month__prev { position: absolute; top: 0; left: 30px; background: url('../img/icons-sfcb65d692a.png') 0 -883px no-repeat; width: 33px; height: 33px; }

.month__next { position: absolute; top: 0; right: 30px; background: url('../img/icons-sfcb65d692a.png') 0 -926px no-repeat; width: 33px; height: 33px; }

.calendar-table { width: 295px; margin: 0 auto; }
.calendar-table a { display: inline-block; width: 30px; height: 30px; line-height: 32px; color: black; font-weight: bold; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; border: 1px solid white; }
.calendar-table a:hover { border: 1px solid #e1c88c; }
.calendar-table .inactive { color: #b3b3b3; }
.calendar-table .yellow { color: #e1c88c; }
.calendar-table .current-date { background: #e1c88c; border: 1px solid #e1c88c; }

.week { margin-bottom: 20px; }

.event-list { *zoom: 1; margin: 22px 22px 0px; padding-bottom: 30px; border-bottom: 1px solid #e1c88c; -webkit-box-shadow: inset 0px -1px 0px #f1e6cc, 0 1px 0px #f1e6cc; -moz-box-shadow: inset 0px -1px 0px #f1e6cc, 0 1px 0px #f1e6cc; box-shadow: inset 0px -1px 0px #f1e6cc, 0 1px 0px #f1e6cc; }
.event-list:after { content: " "; display: table; clear: both; }
.event-list li { float: left; margin-left: 20px; }
.event-list li:first-child { margin-left: 0; }
.event-list li img { width: 58px; height: 58px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.event-list li.is-active img { border: 2px solid #e1c88c; }

.event-slider { position: relative; margin: 22px 25px 0; padding-bottom: 25px; border-bottom: 1px solid #e1c88c; -webkit-box-shadow: inset 0px -1px 0px #f1e6cc, 0 1px 0px #f1e6cc; -moz-box-shadow: inset 0px -1px 0px #f1e6cc, 0 1px 0px #f1e6cc; box-shadow: inset 0px -1px 0px #f1e6cc, 0 1px 0px #f1e6cc; }

.event-slider__content { display: block; padding: 0 15px; *zoom: 1; color: black; }
.event-slider__content:after { content: " "; display: table; clear: both; }
.event-slider__content:hover .event-slider__img img { border: 2px solid #e1c88c; }

.event-slider__img { float: left; margin-right: 5px; }
.event-slider__img img { width: 54px; height: 54px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; border: 2px solid white; }

.event-slider__text { float: left; font-size: 0; line-height: 1; }

.event-slider__title { font-size: 23px; font-weight: bold; margin-bottom: 3px; }

.event-slider__info { font-size: 11px; *zoom: 1; text-align: left; }
.event-slider__info:after { content: " "; display: table; clear: both; }

.event-slider__left { float: left; width: 48px; padding-left: 8px; color: #cbcbcb; }

.event-slider__right { float: right; width: 142px; font-weight: bold; }

.event-slider__prev { position: absolute; top: 22px; left: -8px; background: url('../img/icons-sfcb65d692a.png') 0 -1408px no-repeat; width: 8px; height: 14px; }

.event-slider__next { position: absolute; top: 22px; right: -8px; background: url('../img/icons-sfcb65d692a.png') 0 -1432px no-repeat; width: 8px; height: 14px; }

.l-error-404 { background: url(../img/404-bg.jpg) 0 0 no-repeat; -webkit-background-size: cover; -o-background-size: cover; background-size: cover; }

.error-404 { position: relative; }

.error-404__link { position: absolute; left: 50px; top: 290px; font-size: 31px; font-weight: bold; color: white; line-height: 1.2; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
.error-404__link:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; text-decoration: underline; }

.error-404__alert { position: absolute; top: 500px; left: 50px; width: 308px; font-size: 33px; color: white; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=70); opacity: 0.7; }
.error-404__alert span { display: block; font-weight: bold; font-size: 123px; }

/* CSS Styles that are needed by jScrollPane for it to operate correctly.  Include this stylesheet in your site or copy and paste the styles below into your stylesheet - jScrollPane may not operate correctly without them. */
.jspContainer { overflow: hidden; position: relative; }

.jspPane { position: absolute; }

.jspVerticalBar { position: absolute; top: 0; right: 0; width: 6px; height: 100%; background: #efe2c5; }

.fashion .jspVerticalBar { width: 4px; right: 5px; }

.jspHorizontalBar { position: absolute; bottom: 0; left: 0; width: 100%; height: 16px; background: red; }

.jspVerticalBar *, .jspHorizontalBar * { margin: 0; padding: 0; }

.jspCap { display: none; }

.jspHorizontalBar .jspCap { float: left; }

.jspTrack { background: #efe2c5; position: relative; }

.fashion .jspTrack { background: #f7f7f7; height: 500px; }

.jspDrag { background: #e0c78b; position: relative; top: 0; left: 0; cursor: pointer; }

.fashion .jspDrag { background: #cccccc; }

.jspHorizontalBar .jspTrack, .jspHorizontalBar .jspDrag { float: left; height: 100%; }

.jspArrow { background: #50506d; text-indent: -20000px; display: block; cursor: pointer; }

.jspArrow.jspDisabled { cursor: default; background: #80808d; }

.jspVerticalBar .jspArrow { height: 16px; }

.jspHorizontalBar .jspArrow { width: 16px; float: left; height: 100%; }

.jspVerticalBar .jspArrow:focus { outline: none; }

.jspCorner { background: #eeeef4; float: left; height: 100%; }

/* Yuk! CSS Hack for IE6 3 pixel bug :( */
* html .jspCorner { margin: 0 -3px 0 0; }

.about-us .h2 { width: 936px; margin: 0 auto 60px; }

.about-us__inner { *zoom: 1; width: 976px; margin: 0 auto; }
.about-us__inner:after { content: " "; display: table; clear: both; }

.about-us__block { position: relative; width: 486px; min-height: 486px; float: left; padding: 130px 94px 20px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; margin-left: 4px; background: #f0e3c5; }
.about-us__block:hover .about-us__hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; z-index: -1; }
.about-us__block:first-child { margin-left: 0; }

.about-us__hover { position: absolute; top: 0; right: 0; bottom: 0; left: 0; background: #e1c88c; text-align: center; -webkit-transition: all 400ms; -moz-transition: all 400ms; -o-transition: all 400ms; transition: all 400ms; -webkit-transform: translate3d(0, 0, 0); -moz-transform: translate3d(0, 0, 0); -ms-transform: translate3d(0, 0, 0); -o-transform: translate3d(0, 0, 0); transform: translate3d(0, 0, 0); z-index: 2; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; text-transform: uppercase; font-size: 37px; font-weight: bold; }
.about-us__hover span { position: absolute; top: 50%; left: 0; right: 0; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; margin-top: -25px; text-align: center; }

.about-us__content { overflow: hidden; }

.about-us__title { display: block; color: black; font-size: 21px; font-weight: bold; text-transform: uppercase; text-align: center; margin-bottom: 35px; }

.about-us__text { padding-top: 20px; text-align: center; }

.contacts { padding-top: 20px; }
.contacts li { *zoom: 1; }
.contacts li:after { content: " "; display: table; clear: both; }
.contacts a { color: black; }

.contacts__left { float: left; width: 110px; text-align: right; color: #8c8c8c; }

.contacts__right { float: right; width: 168px; text-align: left; }

.fashion-guide { width: 966px; margin: 0 auto; }
.fashion-guide .h2 { width: 96%; margin: 0 auto; }

.fashion-slider { position: relative; width: 966px; height: 518px; }
.fashion-slider .example-pager { top: 20px; right: 20px; }

.fashion { *zoom: 1; }
.fashion:after { content: " "; display: table; clear: both; }

.l-fashion__sidebar, .l-fashion__content { float: left; padding: 7px 0; border: 2px solid #f7f7f7; }

.fashion__sidebar { width: 158px; height: 504px; overflow: auto; padding: 5px 5px 5px 15px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.l-fashion__content { float: right; }

.fashion-list li a { position: relative; color: #bfbfbf; }
.fashion-list li a:hover { color: black; padding-left: 9px; }
.fashion-list li a:hover:after { content: ""; position: absolute; top: 5px; left: 0px; width: 5px; height: 5px; background: #e1c88c; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.fashion-list li:first-child:first-letter { font-weight: bold; color: black; text-transform: uppercase; }

.fashion__content { width: 730px; height: 504px; overflow: auto; padding: 17px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; }

.fashion__header-list { font-size: 0; margin-bottom: 40px; }
.fashion__header-list li { display: inline-block; width: 25%; vertical-align: top; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding-left: 5%; font-size: 13px; font-weight: bold; }
.fashion__header-list li p:first-child { padding-top: 7px; }

.fashion__about p, .fashion__about img { margin-bottom: 22px; }

.post-slider { position: relative; margin-bottom: 34px; }
.post-slider .cycle-prev { position: absolute; top: 0; left: 0; bottom: 0; width: 50%; z-index: 101; cursor: pointer; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.post-slider .cycle-prev:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.post-slider .cycle-prev i { position: absolute; top: 50%; left: 10%; margin-top: -33px; background: url('../img/icons-sfcb65d692a.png') 0 -517px no-repeat; width: 38px; height: 68px; }
.post-slider .cycle-next { position: absolute; top: 0; right: 0; bottom: 0; width: 50%; z-index: 101; cursor: pointer; -webkit-transition: all 300ms; -moz-transition: all 300ms; -o-transition: all 300ms; transition: all 300ms; filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0); opacity: 0; }
.post-slider .cycle-next:hover { filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=100); opacity: 1; }
.post-slider .cycle-next i { position: absolute; top: 50%; right: 10%; margin-top: -34px; background: url('../img/icons-sfcb65d692a.png') 0 -969px no-repeat; width: 36px; height: 65px; }

.post-slider__item { width: 100%; height: 495px; overflow: hidden; }
.post-slider__item img { width: 100%; min-height: 495px; height: auto; }

.article { position: relative; width: 745px; margin: 0 auto; }
.article p { margin-bottom: 25px; }
.article a { font-size: 16px; color: black; }
.article a:hover { text-decoration: underline; color: #e1c88c; }
.article .rubric-wpapper { margin-bottom: 45px; }
.article .rubric-wpapper .rubric { width: 164px; }
.article .rubric-wpapper .rubric a:hover { color: black; text-decoration: none; }

.article__author { position: absolute; top: 32px; left: 770px; width: 125px; height: 125px; padding: 2px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; background: #e1c88c; }
.article__author img { width: 121px; height: 121px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.article__author p { font-weight: bold; font-style: italic; text-align: center; font-size: 17px; }

.article__author.fixed { position: fixed; top: 140px; }

.article__info { position: absolute; top: 32px; right: 778px; width: 2000px; text-align: right; }

.article__info.fixed { position: fixed; top: 140px; }

.article__info-rubric { height: 42px; line-height: 42px; padding-right: 6px; margin-bottom: 27px; background: #e1c88c; font-size: 32px; font-weight: bold; font-style: italic; color: white; }

.article__head { text-align: center; }

.article__head_mod1 { *zoom: 1; text-align: left; margin-bottom: 44px; }
.article__head_mod1:after { content: " "; display: table; clear: both; }
.article__head_mod1 img { position: relative; z-index: 2; float: right; }
.article__head_mod1 .article__subtitle { position: absolute; top: 100px; left: 0; }

.article__head_mod2 { text-align: left; margin-bottom: 44px; }
.article__head_mod2 img { position: relative; margin-bottom: 20px; z-index: 1; }
.article__head_mod2 .h1 { position: absolute; top: 120px; right: 0; width: 400px; font-size: 61px; z-index: 2; }
.article__head_mod2 .h1 span { color: #ffc866; }
.article__head_mod2 .article__subtitle { font-size: 32px; }

.article__head_mod3 { margin-bottom: 44px; }
.article__head_mod3 img { position: relative; text-align: center; z-index: 1; }
.article__head_mod3 .h1, .article__head_mod3 .article__subtitle { position: absolute; top: 50px; left: 0; right: 0; text-align: center; color: white; line-height: 1; }
.article__head_mod3 .article__subtitle { top: 200px; font-size: 17px; text-transform: uppercase; }

.article__head_mod6 { margin-bottom: 44px; }
.article__head_mod6 .h1 { font-size: 124px; line-height: 1; margin-bottom: 80px; }
.article__head_mod6 .article__subtitle { font-size: 16px; font-weight: bold; line-height: 1.6; }

.article__subtitle { position: relative; font-size: 25px; line-height: 1; margin-bottom: 36px; z-index: 2; }

.article__info-list { margin-bottom: 20px; }
.article__info-list li { position: relative; margin-bottom: 5px; padding-right: 37px; font-size: 13px; color: gray; }

.article__view:before { content: ""; position: absolute; top: 0px; right: 0px; background: url('../img/icons-sfcb65d692a.png') 0 -492px no-repeat; width: 24px; height: 15px; }

.article__comment:before { content: ""; position: absolute; top: 0px; right: 1px; background: url('../img/icons-sfcb65d692a.png') 0 -1381px no-repeat; width: 21px; height: 17px; }

.article__date:before { content: ""; position: absolute; top: 0px; right: 3px; background: url('../img/icons-sfcb65d692a.png') 0 -1352px no-repeat; width: 17px; height: 19px; }

.article__share { color: gray; }
.article__share p { margin-bottom: 10px; }
.article__share .socials { width: 120px; }
.article__share .socials li { margin-bottom: 10px; }

.quote-wrap { margin-bottom: 45px; overflow: hidden; }

.qoute__img { width: 165px; height: 165px; margin: 0 auto 8px; }
.qoute__img img { width: 100%; height: 100%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

.quote__author { text-align: center; margin-bottom: 25px; }
.quote__author div { font-size: 26px; font-weight: bold; }
.quote__author span { color: #767676; line-height: 1; }

.qoute { width: 80%; margin: 0 auto; padding: 15px 0; text-align: center; font-weight: bold; font-style: italic; }

.article__table { margin-bottom: 35px; }
.article__table thead { font-weight: bold; font-size: 21px; }
.article__table thead div { margin-bottom: 18px; border-bottom: 2px solid #e1c88c; }
.article__table p { margin-bottom: 0; }
.article__table tbody tr div { padding: 3px 0; border-top: 2px solid #e6e6e6; }
.article__table tbody tr:first-child div { border-top: none; }

.article__list { margin-bottom: 25px; }

.article__list-row { *zoom: 1; padding: 27px 0; border-top: 1px dashed #e1c88c; }
.article__list-row:after { content: " "; display: table; clear: both; }
.article__list-row:first-child { border-top: none; }
.article__list-row li { position: relative; width: 33%; float: left; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; padding: 0 20px 0 70px; }
.article__list-row li:before { content: ""; position: absolute; top: 7px; left: 14px; width: 31px; height: 31px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }
.article__list-row li.green:before { background: #59ac88; }
.article__list-row li.red:before { background: #cf676b; }
.article__list-row li.blue:before { background: #a2d3f6; }

.article__list-title { font-size: 18px; font-weight: bold; margin-bottom: 14px; }

.article__list-text { font-size: 14px; line-height: 1.2; }

.interview { padding-left: 22px; }

.interview__item { position: relative; padding-left: 45px; }
.interview__item i { position: absolute; top: 4px; left: 0px; width: 30px; height: 30px; line-height: 30px; text-align: center; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; background: #e1c88c; color: white; text-transform: uppercase; font-size: 20px; font-weight: bold; font-style: normal; }

.interview__question { font-weight: bold; }

.roll { text-align: center; padding: 0 20px; margin-bottom: 25px; }
.roll .h4 { display: inline-block; text-transform: none; padding: 0 50px; margin-bottom: 30px; }

.roll__img { position: relative; margin-bottom: 20px; }
.roll__img img { width: 100%; height: 100%; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; }

a.roll__name { position: absolute; top: 0; bottom: 0; left: 0; right: 0; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; border: 14px solid rgba(255, 255, 255, 0.5); }
a.roll__name span { position: absolute; top: 0px; left: 0px; width: 104px; height: 104px; -webkit-border-radius: 50%; -moz-border-radius: 50%; -ms-border-radius: 50%; -o-border-radius: 50%; border-radius: 50%; font-size: 0; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; box-sizing: border-box; font-weight: bold; padding-top: 32px; text-align: center; color: white; }
a.roll__name:hover span { background: black; font-size: 16px; }

.roll__item { width: 132px; }

.roll__title { font-size: 16px; font-weight: bold; }

.article__socials { margin-bottom: 50px; }

.tags { *zoom: 1; margin-bottom: 43px; }
.tags:after { content: " "; display: table; clear: both; }

.tags__title { float: left; margin-right: 50px; font-size: 21px; padding: 0 14px; border-top: 2px solid #e1c88c; border-bottom: 2px solid #e1c88c; text-transform: uppercase; }

.tags-list { float: left; font-size: 0; padding-top: 5px; }
.tags-list li { display: inline-block; margin-right: 46px; }
.tags-list li a:hover { color: black; text-decoration: none; }

.disqus-wrap { margin-bottom: 50px; }
