// # SHORT HOWTO
// ## Sprites
//     .whatever
//          +sized-sprite($icons, coderiver) //or
// 			+s(codedby) //gets default value for spritemap as $icons
// ### animation example
//     +include keyframes(rotate)
//        from
//           +rotate(0)
//        to
//           +rotate(360)
// ## animation usage
//     body:hover
// 	    +animation(rotate 200s linear infinite)
// ## animations easing, see easings.net for full list and examples, tnx @ai
//     transition: all 1.2s ceaser($ease-in)
// ## gradient example
//     +background-image(linear-gradient(#232323, #5c5c5c));
//     +g(#232323, #5c5c5c);
//	   horizontal
//     +gh(#232323, #5c5c5c);
// ## making bw-images
//     img
//			@extend %gray
// ## predefined media-queries: https://github.com/paranoida/sass-mediaqueries
//     +min-screen(320)
//			display: none
// +max-screen(1000), +iphone5, +iphone4, +ipad-retina, +ipad, +hdpi - also available
//
// ## use cycles
//     @for $i from 1 through 3
//       .item-#{$i}
//			width: 2em * $i;
//     @each $s in a,b,c
// 	    	#{$s}
//				display: none
// ## fonts 
// Save fonts to /css/fonts, after that write (eot, woff, ttf):
// +font(book, cytiapro-black-webfont)  
// =book
// 	font-family: "book",arial,sans-serif 
	
body
	min-width: 1080px
	font-size: 16px 
	font-family: 'Tinos', serif
	line-height: 1.4
	
$gold: #e1c88c

// common blocks
.wrap
	width: 1080px
	margin: 0 auto
.wrapper
	+clr
// header
.header
	padding-top: 35px 	
.logo
	margin-bottom: 50px 
	text-align: center
	a
		display: block 
		font-size: 0 
.logo_small
	position: absolute
	top: 19px
	left: 42px
	margin-bottom: 0
	z-index: 2 	
.topper
	position: relative
	height: 87px 
	padding-top: 48px 
// nav
.nav
	position: relative
	text-align: center
	height: 68px
	margin-bottom: 28px  
.menu
	position: relative
	display: inline-block
	+clr
.menu__item
	position: relative
	float: left
	margin: 0 38px 
.menu-link
	position: relative
	font-weight: bold
	color: #000
	text-transform: uppercase
	&:before
		content: ""
		position: absolute
		top: -5px
		left: -150%
		height: 2px
		width: 100%
		background: $gold
		+tr(400ms all)
		+opacity(0)
	&:after
		content: ""
		position: absolute
		bottom: -5px
		left: 150%
		height: 2px
		width: 100%
		background: $gold
		+tr(400ms all)
		+opacity(0)	   
	&:hover
		&:before
			left: 0
			+opacity(1)
		&:after
			left: 0
			+opacity(1)
.menu-link.is-active
	&:before
		left: 0
		+opacity(1)
	&:after
		left: 0
		+opacity(1)
.sub-menu
	position: absolute
	left: 0
	width: 749px
	margin-left: -344px
	padding-top: 18px   
	text-align: center
	+tr(400ms all)
	+opacity(0)
	visibility: hidden
	+clr
	+gpu
	li
		display: inline-block
		height: 22px 
		margin: 0 32px 
		a
			position: relative
			text-transform: none
			font-weight: normal
			color: #000
			&:before
				content: ""
				position: absolute
				top: 6px
				left: -15px
				height: 5px
				width: 5px
				+border-radius(2px)
				background: $gold
				+tr(400ms all)
			&:hover
				&:before
					left: -29px
					width: 19px
.sub-menu.is-active
	+opacity(1)
	visibility: visible
	
// search
.search
	position: absolute
	top: 0
	right: 0
	width: 92px
	height: 24px
	+box
	text-align: left
	border: 1px solid #e0c78b
	background: #e0c78b
	&:after
		content: ""
		position: absolute
		top: 4px 
		right: 4px
		+s(search) 
	input
		width: 67px
		height: 22px
		padding: 0 9px
		+box  
		+box-shadow(inset 0 0 1px #f3e8d0)

// h1-h6
.h2
	text-align: center
	font-weight: bold
	font-size: 42px
.h2_lines
	border-top: 2px solid $gold
	border-bottom: 2px solid $gold
	text-transform: uppercase 
	
// rubric
.rubric-list
	padding: 26px 24px
	text-align: justify
	line-height: 0
	font-size: 1px
	text-justify: newspaper
	zoom: 1
	text-align-last: justify
	&:after
		content: ""
		display: inline-block
		width: 100%
		height: 0px
		visibility: hidden
		overflow: hidden	
.rubric
	width: 207px 
	text-align: center
	display: inline-block
	line-height: normal
	font-size: 21px
	vertical-align: top
	img
		width: 100%
		margin-bottom: 18px  
		+box
		border: 1px solid rgba(153,122,72,.1)
	a
		color: #000
		&:hover
			font-weight: bold
			
// widget
.widget
	margin-bottom: 30px				 

			 				