.fashion-slider
    position: relative
    width: 966px
    height: 518px 
    margin: 0 auto
    .example-pager
        top: 20px
        right: 20px
.fashion-slider__item
    img
        width: 100%
        height: 100%            