.fashion-guide
    max-width: 966px
    margin: 0 auto
    .h2
        width: 96%
        margin: 0 auto     
.fashion-slider
    position: relative
    max-width: 966px
    height: 518px
    +r(tablet)
        height: 418px
    +r(tablet_small)
        height: 318px
    +r(phone_wide)
        height: 268px
    +r(phone)
        height: 218px           
    .example-pager
        top: 20px
        right: 20px
.fashion
    position: relative
    +clr
.l-fashion__sidebar, .l-fashion__content
    float: left
    padding: 7px 0
    border: 2px solid #f7f7f7               
.fashion__sidebar
    width: 158px
    height: 504px
    overflow: auto 
    padding: 5px 5px 5px 15px
    +box
.l-fashion__content
    float: right
    width: 75% 
.fashion-list
    li
        a
            position: relative
            color: #bfbfbf
            &:hover
                color: #000
                padding-left: 9px
                &:after
                    content: ""
                    position: absolute
                    top: 5px
                    left: 0px
                    width: 5px
                    height: 5px
                    background: $gold
                    +border-radius(50%)    
        &:first-child
            &:first-letter
                font-weight: bold
                color: #000
                text-transform: uppercase
.fashion__content
    width: 94%
    height: 504px
    overflow: auto 
    padding: 17px
    +box      
.fashion__header-list
    font-size: 0
    margin-bottom: 40px
    li
        display: inline-block
        width: 25%
        vertical-align: top
        +box
        padding-left: 5% 
        font-size: 13px
        font-weight: bold
        p
            &:first-child
                padding-top: 7px
.fashion__about
    p, img
        margin-bottom: 22px
    img
        max-width: 100%    
                                                              