// Normally mainpage styles

// header slider
.header-slider
	position: relative
.header-slider__item
	position: relative
	width: 100% 
	height: 577px
	overflow: hidden
	+r(desktop)
		height: 477px
	+r(tablet_wide)
		height: 377px
	+r(phone_wide)
		height: 277px 		
	img
		width: 100%
		min-height: 577px
		height: auto
		+r(desktop)
			min-height: 477px
		+r(tablet_wide)
			min-height: 377px
		+r(phone_wide)
			min-height: 277px		  
.header-slider__title
	position: absolute
	bottom: 25px
	left: 8%
	color: #fff
	font-weight: bold
	text-transform: uppercase 
.header-slider__date
	position: relative
	display: inline-block
	font-size: 284px
	line-height: 235px
	+r(desktop)
		font-size: 224px
		line-height: 190px
	+r(tablet_wide)
		font-size: 160px
		line-height: 160px
	+r(phone_wide)
		font-size: 100px
		line-height: 100px		
	span
		position: absolute
		top: 18px
		right: -270px
		width: 240px
		font-size: 84px
		line-height: 67px
		+r(desktop)
			font-size: 58px
			line-height: 55px
		+r(tablet_wide)
			right: -150px
			width: 130px
			font-size: 41px
			line-height: 41px
		+r(phone_wide)
			right: -78px
			width: 65px
			font-size: 22px
			line-height: 22px		
.header-slider__name
	font-size: 60px
	line-height: 60px
	+r(desktop)
		font-size: 50px
		line-height: 50px
	+r(tablet_wide)
		font-size: 40px
		line-height: 40px
	+r(phone_wide)
		font-size: 20px
		line-height: 20px		
.example-pager
	position: absolute
	top: 100px
	right: 200px
	z-index: 999
	font-size: 0
	+r(desktop)
		right: 100px
	+r(ipad)
		top: 50px
		right: 50px
	+r(phone_wide)
		right: 30px 	
	span
		display: inline-block
		vertical-align: top
		width: 21px
		height: 21px
		margin: 0 5px
		+box 
		+border-radius(50%)
		background: rgba(255,255,255, .6)
		cursor: pointer
	span.cycle-pager-active
		background: #e0c78b
		border: 1px solid #e6d1a1
		
// masonry blocks
.post
	width: 33.333%
	margin-bottom: 75px
	padding: 0 0.938em
	+box
	+r(tablet)
		width: 50%
	+r(phone_wide)
		padding: 0 0.469em 	
	+r(phone)
		width: 100% 	 	
.post__inner
	border: 1px solid #fff
	+box
	&:hover
		border: 1px solid #d8d8d8		
.post__img
	display: block
	font-size: 0
	img
		width: 100%
		height: auto  
.post__content
	padding: 20px 5px 	 	
.post__info
	+clr
	font-weight: bold
	font-style: italic
.post__type
	float: left
	font-size: 21px 
	color: $gold
.post__date
	float: right
	font-size: 17px
	color: #b2b2b2
.post__title
	.h3
		+r(tablet)
			line-height: 1
		+r(tablet_small)
			a
				font-size: 30px		 			
.post__sub-title
	font-weight: bold
	font-size: 23px
	color: #000
	line-height: 1
	+r(tablet_small)
		font-size: 18px  
.add-post
	position: relative
	display: block
.add-post__inner
	height: 566px
	+box  
	border: 2px solid #e1c78b
	+r(tablet)
		height: 467px
	+r(phone_wide)
		height: 385px 	
	&:hover
		border: 2px solid #e1c78b		 	
.add-post__arrow
	position: absolute
	top: 65px
	left: 50%
	margin-left: -76px
	width: 142px
	height: 142px
	+border-radius(50%)
	border: 5px solid #e0c78b	  
	&:after
		content: ""
		position: absolute
		top: 56px
		left: 40px
		+s(arr-down)			
	+r(phone_wide)
		width: 112px
		height: 112px
		margin-left: -61px 
		&:after
			top: 42px
			left: 26px		
.add-post__text
	position: absolute
	bottom: 40px
	left: 50%
	width: 250px
	margin-left: -125px  
	font-size: 63px
	font-weight: bold
	color: $gold
	text-align: center 
	+r(phone_wide)
		font-size: 47px

// rubric
.rubric-wpapper
	margin-bottom: 90px
	+r(ipad)
		margin-bottom: 50px
	+r(tablet_small)
		margin-bottom: 30px  
.rubric-list
	padding: 26px 24px
.rubric
	width: 207px 
	font-size: 21px
	+r(tablet_wide)
		width: 170px
	+r(ipad)
		width: 45%
	+r(phone)
		width: 48% 	 	 
	img
		width: 100%
		height: auto 
		margin-bottom: 18px  
		+box
		border: 1px solid rgba(153,122,72,.1)
	a
		color: #000
		&:hover
			font-weight: bold
	
// sidebar

.sidebar
	float: right
	width: 32%
	background: #FFF
	+r(ipad_wide)
		position: relative
		right: -500px
		+transition(all 400ms)
	+r(tablet)
		width: 50%
	+r(phone)	 	 
		width: 100% 
	img
		width: 100%
		height: auto
.sidebar.is-open
	right: 0 		

// footer bot menu
.bot-menu
	margin-bottom: 120px
	+r(ipad)
		margin-bottom: 90px
	+r(tablet_small)
		margin-bottom: 60px
	+r(phone_wide)
		margin-bottom: 30px		 				 
.bot-menu__item
	text-align: left
	width: 207px
	+r(desktop)
		+box
		padding-left: 5%
		width: 19%
	+r(tablet_wide)
		padding-left: 3%
	+r(ipad)
		padding-left: 1%
		margin-bottom: 15px
	+r(tablet_small)
		width: 49%
		padding-left: 8%
	+r(phone_wide)
		padding-left: 3%
	+r(phone)
		padding-left: 1% 	   	   
	.h5
		display: inline-block
		padding: 2px 9px 
		margin-bottom: 19px
.bot-menu-list
	padding-left: 15px
	li
		margin-bottom: 5px 
	a
		color: #000
		font-size: 16px  		   		

// widgets
.weather-look__img
	font-size: 0
	display: block
.weather-look__date
	position: absolute
	bottom: 71px
	left: 0
	padding: 18px 15px
	background: #fff
	color: #000
	font-weight: bold
	font-size: 35px
	+transition(background 300ms)
	+r(tablet_small)
		font-size: 25px
	+r(phone_wide)
		font-size: 35px	
	&:hover
		background: $gold 
.popular-list
	padding-top: 32px 
.popular__item
	+clr
	+r(tablet_wide)
		margin-bottom: 15px
.popular__left
	float: left
	max-width: 112px
	+r(ipad)
		float: none
		display: inline-block
.popular__img
	img
		width: 100%
		height: auto
.popular__right
	float: right
	width: 58%
	padding-top: 18px 
	text-align: left
	+r(tablet_wide)
		float: none
		width: 100%
		padding-top: 0
		text-align: center	 
.popular__type
	margin-bottom: 5px 
	color: #c5c5c5
.popular__link
	color: #000
	font-size: 24px
	line-height: 1 
	&:hover
		font-weight: bold
.horoscope__inner
	+clr
	margin-top: 15px
.horoscope__col
	float: left
	width: 50%
	+clr
.horoscope__img
	float: left
	+r(tablet_wide)
		float: none
	+r(tablet)
		float: left
	+r(tablet_small)
		float: none
	+r(phone_wide)
		float: left		
	img
		width: auto
.horoscope__info
	font-size: 10px
	padding-top: 12px
	+r(tablet_wide)
		padding-top: 0  		
.horoscope__title
	font-size: 18px
.horoscope__recommend
	padding-left: 15px 
	border-left: 2px solid $gold
	font-size: 25px
	line-height: 1 
	text-align: left
	+r(tablet_wide)
		font-size: 18px
.hit__img 
	display: block
	font-size: 0
.hit__link 
	position: absolute
	bottom: 70px
	left: 0
	padding: 0 13px 0 32px
	font-size: 30px
	text-align: left
	+transition(background 300ms)
	background: #fff
	color: #000
	.hit__name
		position: absolute
		top: 42px
		left: 0
		font-size: 22px
		padding: 0 13px 0 32px
		background: #fff
		+transition(background 300ms)  
	&:hover
		background: $gold
		span
			background: $gold
.recommend-list
	padding-top: 55px 			 		 
.recommend__item
	+clr
	font-size: 0
	text-align: left
	margin-bottom: 20px 
.recommend__img
	display: inline-block
	margin-right: 33px
	vertical-align: middle  
	img
		width: auto
.recommend__name
	display: inline-block
	vertical-align: middle
	font-size: 21px
	text-transform: uppercase
	color: #000
	&:hover
		font-weight: bold
.calendar__inner
	position: relative
	border: 2px solid $gold
	+box 				
.calendar__img
	font-size: 0
	display: block
	img
		width: 100%
		height: auto 
.event-content
	position: relative		 
.event-link
	position: absolute
	top: 0
	bottom: 0
	right: 0
	width: 121px
	padding: 52px 34px 26px 17px 
	background: $gold
	font-size: 23px
	font-weight: bold
	color: #000
	text-align: left
	span
		position: absolute
		bottom: 26px
		left: 17px
		font-size: 16px
		font-weight: normal
.calendar-tabs
	padding: 12px 0
	+clr 		   			 		 			 	 			 		  	
	li
		float: left
		width: 50%
		+box 
		border-left: 2px solid $gold
		&:first-child
			border-left: none
		i
			display: inline-block
			cursor: pointer	 
	li.is-active
		.ico-event
			+s(event-active)
		.ico-calendar
			+s(calendar-active)	
.ico-event
	+s(event)						
.ico-calendar
	+s(calendar)
.subscribe
	border: 2px solid $gold
	text-align: center
	padding: 17px 
.subscribe__title
	font-size: 26px
	font-weight: bold
.subscribe__text
	display: inline-block
	font-size: 13px
	width: 50%
	line-height: 1
	margin-bottom: 20px 
.subscribe__input
	position: relative 
	input[type="text"]
		width: 160px 
		text-align: center
		border-bottom: 2px solid $gold
		+placeholder
			font-style: italic
			color: #a6a6a6
		&:focus
			+placeholder
				font-size: 0	
		&:focus + .subscribe__submit
			display: inline-block	
.subscribe__submit
	display: none
	position: absolute
	right: 5px
	top: -3px
	font-size: 0
	+s(letter)
	cursor: pointer
.month
	margin: 50px 0 45px 
	position: relative
	text-align: center
	font-size: 26px
	font-weight: bold 
.month__prev
	position: absolute
	top: 0
	left: 30px
	+s(prev)
.month__next
	position: absolute
	top: 0
	right: 30px
	+s(next)
.calendar-table
	width: 295px
	margin: 0 auto
	a
		display: inline-block
		width: 30px
		height: 30px
		line-height: 32px 
		color: #000
		font-weight: bold
		+border-radius(50%)
		border: 1px solid #fff
		&:hover
			border: 1px solid $gold  
	.inactive
		color: #b3b3b3
	.yellow
		color: $gold
	.current-date
		background: $gold
		border: 1px solid $gold 				
.week
	margin-bottom: 20px
.event-list
	+clr
	margin: 22px 22px 0px
	padding-bottom: 30px 
	border-bottom: 1px solid $gold
	+box-shadow(inset 0px -1px 0px #f1e6cc, 0 1px 0px #f1e6cc) 
	li
		float: left
		margin-left: 20px
		&:first-child
			margin-left: 0 
		img
			width: 58px
			height: 58px
			+border-radius(50%)
	li.is-active
		img
			border: 2px solid $gold
.event-slider
	position: relative
	margin: 22px 25px 0
	padding-bottom: 25px 
	border-bottom: 1px solid $gold
	+box-shadow(inset 0px -1px 0px #f1e6cc, 0 1px 0px #f1e6cc)
.event-slider__content
	display: block
	padding: 0 15px 
	+clr
	color: #000
	&:hover
		.event-slider__img
			img
				border: 2px solid $gold	
.event-slider__img
	float: left
	margin-right: 5px 
	img
		width: 54px
		height: 54px
		+border-radius(50%)
		border: 2px solid #fff	
.event-slider__text
	float: left
	font-size: 0
	line-height: 1  
.event-slider__title
	font-size: 23px
	font-weight: bold
	margin-bottom: 3px 
.event-slider__info
	font-size: 11px
	+clr
	text-align: left
.event-slider__left
	float: left
	width: 48px
	padding-left: 8px 
	color: #cbcbcb
.event-slider__right
	float: right
	width: 142px
	font-weight: bold
.event-slider__prev
	position: absolute
	top: 22px
	left: -8px
	+s(prev-small)
.event-slider__next
	position: absolute
	top: 22px
	right: -8px
	+s(next-small)		